
<div class="container">

<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #e3f2fd;">
  <div class="container">
   <a href="/">Log Out</a>
 </div>
  <div class="container">
   <a href="/users/<%=@user.id%>">Back to <%=@user.name%> Page</a>
 </div>
 <div class="container">
  <a href="/users/">High Scores</a>
</div>
</nav>

 <h1 align = "center">About</h1><br>

 <p align = "center">
  This is a Killer Cat Production (Ranjit Saimbi and George Wong).
   <br><br>
  Test your knowledge of <a href="https://http.cat/"> Cats and Status Codes</a> and World Flags.
</p><br>

<div class="text-center">
<img src="https://img.buzzfeed.com/buzzfeed-static/static/2013-10/campaign_images/webdr01/11/6/how-well-do-you-know-the-flags-of-the-world-1-30922-1381485714-9_big.jpg" height="50%" width="50%">
</div>

<style>
#foot {
  position: absolute;
  left: 20;
  bottom: 0;
  width: 80%;
  text-align: center;
}
</style>

<div id= "foot" class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;"">
  <p> </p>
</div>
