<h1>Congratulations</h1>
<h2><%= "Your score is '#{@user.game.score}'" %></h2>

<h1>Show Ranking</h1>
<h2><%= "You are #'#{games.sort???}'" %></h2>




1. End page
2. show Rank
3. play again?
4. back to main menu
