<h1>Congratulations <%= @game.user.name.capitalize %></h1>
<br>
<h2><%= "Your score is #{@game.score}" %></h2>
<br>
<h2><%= "You are # #{Game.order(:score).all.reverse.index(@game) + 1}" %></h2>
<br>
<a <%= link_to "Back to Your page", user_path(@game.user) %></a>
<br>
