1. user page
2. show if first game or last scores and current rank
3. button to delete history
4. change user name
5. button to start game





<h1> Welcome <%= @user.name%>! </h1>

<%= button_to "New Game",
    {
      action: "create",
      controller: "games",
      id: @user.id
    },
    method: "post"
%>

<%= link_to "back to welcome page", welcome_path %>
