<h1> Welcome <%= @user.name%>! </h1>

<%= button_to "New Game",
    {
      action: "create",
      controller: "games",
      id: @user.id
    },
    method: "post"
%>

<%= image_tag(image_url(Question.all.first.location), size: "640x400")%>
